.App {
  text-align: -webkit-center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavLinksUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #0a0d13db;
  display: flex;
  justify-content: space-around;
}

.navLinkLI {
  float: left;

}

.navLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.mainContainer {

  background-color: #eeeeeef2;
  height: 50vw;
  overflow: scroll;
  width: 80vw;
  border-radius: 15px;
}

.venueSearchArea {
  width: 60vw;
  border-style: solid;
  height: 200px;
  border-radius: 10px;
  display: table-cell;
  vertical-align: middle;
}

.venueInputArea {

}

.changePageArea {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
}

.venueSearchContainer {
  padding: 100px;
}

.nextButton {
  margin-left: auto;
  margin-right: 6%;
}

.prevButton {
  margin-left: 6%;
}

.resultsList {
  list-style: none;
  padding: 10px;
  width: 85%;
  border-style: groove;
  border-radius: 10px;
  margin-top: 10px;
  background-color: white;
  cursor: pointer;
}

.resultsList:hover {
  font-size: 40px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 10px;

}

.resultsContainer {
  padding-top: 50px;
}
